:root {
    --primary-text-color: #757575;
    --title-text-color: #212121; 
    --accent-color: #2196F3;
    --white-color: #FFFFFF;
    --bkg-white-color: #E5E5E5;
    --bkg-btn-color: #F5F4FA;
}

.page {
    background-color: var(--bkg-white-color);
    color: var(--primary-text-color);

    font-family: roboto, sans-serif;
}

ul {
    list-style: none;
}

/* header */

.logo {
    color: #000000;
    font-family: Raleway, sans-serif;

    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    text-decoration: none;
}

.special {
    color: var(--accent-color);
}

.navigation-list .link {
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    text-decoration: none;      
}

.list .link {
    color: var(--primary-text-color);
    font-weight: 500;
font-size: 14px;
line-height: 1.14;

    text-decoration: none;

}

.list .link:hover,
.list .link:focus {
    color: var(--accent-color);
}

.navigation-list .link:hover,
.navigation-list .link:focus {
    color: var(--accent-color);
}

/* main */

/* hero */
.hero-title {

    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;    
    text-align: center;
    
    text-transform: uppercase;
    
    color: var(--white-color);
    
}

/* title h2 */
.section-title {

   font-weight: 700;
   font-size: 36px;
   line-height: 1.16;
   text-align: center;
   color: var(--title-text-color);
}

/* title h3 для секции особенности  */
.feature-list .subtitle {

   font-weight: 700;
   font-size: 14px;
   line-height: 1.14;
   text-transform: uppercase;
   color: var(--title-text-color);
}

/* абзацы */
.text {

    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    color: var(--primary-text-color);
}

/* секция Наша команда */
.section-team {
    background-color: var(--bkg-btn-color);
}
/* заголовок для h2 наша команда */
.team-list .section-subtitle {  
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    color: var(--title-text-color);

}

/* абзацы */
.text {

    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    color: var(--primary-text-color);

}

.desc {

    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    color: var(--primary-text-color);
}

/* Button */
.navigation-list .button {
    background-color: var(--bkg-btn-color);
    color: var(--title-text-color);
}

.navigation-list .button:hover,
.navigation-list .button:focus {
    background-color: var(--accent-color);
    color: var(--white-color);

}