:root {
    --primary-text-color: #757575;
    --title-text-color: #212121; 
    --accent-color: #2196F3;
    --white-color: #FFFFFF;
    --bkg-white-color: #E5E5E5;
    --bkg-btn-color: #F5F4FA;
}

.page {
    background-color: var(--bkg-white-color);
    color: var(--primary-text-color);

    font-family: roboto, sans-serif;
}

ul {
    list-style: none;
}

/* header */

.logo {
    color: #000000;
    font-family: Raleway, sans-serif;
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 31px;
/* identical to box height */

letter-spacing: 0.03em
}

.special {
    color: var(--accent-color);
}

.navigation-list .link {
    color: #212121;
    font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.02em;
}

.navigation-list .link:hover,
.navigation-list .link:focus {
    color: var(--accent-color);
}

/* main */

/* hero */
.hero-title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    /* or 136% */
    
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    
    color: var(--white-color);
    
}

/* title h2 */
.section-title {
    font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 42px;
text-align: center;
letter-spacing: 0.03em;

color: var(--title-text-color);
}

/* title h3 для секции особенности  */
.feature-list .subtitle {
    font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--title-text-color);
}

/* абзацы */
.text {
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
/* or 171% */
letter-spacing: 0.03em;
color: var(--primary-text-color);
}

/* заголовок для h2 наша команда */
.team-list .section-subtitle {
    font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;
/* identical to box height */

text-align: center;
letter-spacing: 0.03em;

color: var(--title-text-color);

}

/* абзацы */
.text {
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
/* or 171% */

letter-spacing: 0.03em;

color: var(--primary-text-color);

}

.desc {
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
/* identical to box height */

text-align: center;
letter-spacing: 0.03em;

color: var(--primary-text-color);
}

/* Button */
.navigation-list .button {
    background-color: var(--bkg-btn-color);
    color: var(--title-text-color);
}

.navigation-list .button:hover,
.navigation-list .button:focus {
    background-color: var(--accent-color);
    color: var(--white-color);

}